$background: var(--background);
$secondary-background: var(--secondary-background);
$tertiary-background: var(--tertiary-background);
$border: var(--border-color);
$button-background: var(--button-background);
$score: var(--score);
$level: var(--level);

$text: var(--text);
