@use "colors";

.wrapper {
	position: fixed;
	bottom: 1rem;
	left: 0;
	right: 0;
	display: flex;

	justify-content: center;
	pointer-events: none;
	user-select: none;

	.gui {
		width: clamp(10rem, 50%, 40rem);
		--progress-height: 1rem;

		$progress-height: var(--progress-height);

		.small {
			--progress-height: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;

			margin-bottom: 0.5rem;
			.progress {
				width: 75%;

				.textWrapper {
					font-size: smaller;
				}

				.bar {
					background-color: colors.$score;
				}
			}
		}

		.progress {
			height: $progress-height;
			background-color: colors.$tertiary-background;
			padding: 0.3rem;
			border-radius: 1rem;
			position: relative;

			.textWrapper {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.bar {
				background-color: colors.$level;
				border-radius: 1rem;
				height: $progress-height;
				min-width: $progress-height;
				transition: width 1s;
			}
		}
	}
}
